:root{
    --primary:#0B162C;
    --secondary:#1C2942;
    --third:#3B556D;
    --fourth:#5FC2BA;
    --last:#FFFFFF;
}

body{
    background-color: var(--last);
    font-family: 'Roboto';
    color: var(--third);
    font-weight: 300;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
section{
    padding: 20px 60px;
}
.bg-darkgrey{
    background-color: var(--secondary);

}
//title styles
h2.Mytitle{
    font-weight: 900;
    color: var(--last);
    strong{
        color: var(--fourth);
        text-shadow: none;

    }
}
h2.Mytitle2{
    font-weight: 900;
    color: var(--third);
    strong{
        color: var(--fourth);
        text-shadow: none;

    }
}
